.modules {
    align-items: center;
    padding: 2rem 0;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}

.header {
    color: var(--ifm-color-primary);
}

.card:hover a {
    transition: all var(--ifm-transition-fast) ease;
    color: var(--ifm-badge-background-color);
}

.moduleSvg {
    height: 150px;
    width: 150px;
}

@media only screen and (max-width: 600px) {
    .modules {
        max-width: 90%;
    }
}